{% extends "layout.twig" %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <h1>{{ pokemon.getName }}</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <img src="{{ avatar }}" title="{{ pokemon.getName }}"/>
                </div>
            </div>
            <div class="col-md-8">
                <dl>
                    <dt>ID:</dt>
                    <dd>{{ pokemon.getNationalId }}</dd>
                    <dt>Type:</dt>
                    <dd>
                        {% for type in pokemon.getTypes %}
                            {{ type.name }}
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    </dd>
                    <dt>Evolutions:</dt>
                    <dd>
                        {% for evolution in pokemon.getEvolutions %}
                            {{ evolution.name }}
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    </dd>
                </dl>
            </div>
        </div>

    </div>
{% endblock %}