<div class="col-md-offset-3 col-md-6">
    <div class="well">
        <form method="post" action="/search-pokemon">
            <div class="form-group">
                <label for="pokemon" class="sr-only">Pokemon.</label>
                <input name="search" type="text" class="form-control input-lg" id="exampleInputEmail1" placeholder="Inserta el número o el nombre del pokemon">
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Enviar">
        </form>
    </div>
</div>